<div class="row flex-gap">
    <div 
        class="card mb-5 clickable animate__animated animate__fadeIn" 
        *ngFor="let snippet of data"
        (click)="onClick(snippet)"
    >
        <img [src]="snippet.thumbnails.high.url" class="card-img-top mt-2" [alt]="snippet.title">
        <div class="card-body">
        <h5 class="card-title">{{ snippet.title }}</h5>
        <p class="card-text"><strong>Date:</strong><span> {{ snippet.publishedAt | date}}</span></p>
        <button class="btn btn-outline btn-primary btn-block">View video</button>
        </div>
    </div>
</div>

<ng-container *ngIf="showModal">
    <div class="modal animate__animated animate__backInDown"  style="display: block;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{ videoTitle }}</h5>
              <button type="button" class="btn-close" (click)="toogleModal()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div [innerHTML]="video"></div>                
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="toogleModal()">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-background" (click)="toogleModal()"></div>
</ng-container>
